# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.ENV
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/images/Dialog Edit dana anggaran-1.png
public/images/Dialog Edit dana anggaran.png
public/images/Dialog Tambah Kegiatan-1.png
public/images/Dialog Tambah Kegiatan-2.png
public/images/Dialog Tambah Kegiatan.png
public/images/Dialog Tambah Laporan Filled.png
public/images/Dialog Tambah Laporan.png
public/images/Kegiatan Pembelajaan Filled 1.png
public/images/Kegiatan Pembelanjaan.png
public/images/Laporan Dashboard-1.png
public/images/Laporan Dashboard.png
public/images/Laporan Pembelian.png
